:root {
    --blue: #68c7ff;
    --yellow: #ffd700;
    --magenta: #cb0b66;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--blue);
}

header {
    height: 75px;
}

.powered-by {
    height: 60px;
    width: 300px;
    background-color: var(--yellow);
    float: right;
    border-bottom-left-radius: 60px;
}

.powered-by p {
    margin: 3px 10px -6px 50px;
    color: var(--magenta);
}

#brand-name {
    font-size: larger;
    font-weight: bold;
}

#logo-plate {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--magenta);
    border-radius: 20px;
    position: relative;
    top: -40px;
    left: 190px;
}